/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/******* The CSS below was added by Stefan Elmgren *************************************/

.alert {
    width: 80%;
    border-color: #939090;
    margin: auto auto 2vh auto;
}

.searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    text-align: center;
}

.row.description-row,
.row.food-row,
.row.description-header-row,
.food-list,
.foods-wrapper-row {
    display: none;
}

.row.description-row,
.foods-wrapper-row .col ul li{
    background: white;
}

.row.description-row{
    margin-left: 3em;
    margin-right: 1em;
}

.foods-wrapper-row {
    margin-left: 3em;
    margin-right: 1em;
}

.foods-wrapper-row .col {
    margin-left: 1em;
    margin-bottom: 2em;
    padding-bottom: 1.6em;
}

.foods-wrapper-row .col ul li{
    padding-left: 1em;
    margin-bottom: 3px;
}

.row.header-row{
    font-weight: bold;
}

.beer {
    border-radius: 15px;
}

.beer:hover{
    background: lightgray;
}

.beer-row {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-right: 0;
    margin-left: 0;
}

.description-row .col {
    padding-left: 1em;
}

.row.description-header-row,
.food-header{
    margin: 1em 1em 0.5em auto;
}

p.nr-of-beers {
    font-weight: bold;
}

.pagination {
    margin-top: 1em;
}

header .navbar,
footer{
    background: lightgray;
}

header .navbar,
footer{
    -webkit-box-shadow: 0px 1px 3px 2px #000000;
    box-shadow: 0px 1px 3px 2px #000000;
}

header .navbar {
    border-bottom: 1px solid #000;
}

footer {
    border-top: 1px solid #000;
}

.beer-images {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 992px) {
    .beer-images {
        margin-top: 3em;
    }
}

@media (max-width: 576px) {
    .beer-images {
        margin-top: 5em;
    }
}

.beer-image {
    height: 25em;
    max-width: 33%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
